#wrapper {
    width: 40%;
    height: fit-content;
    margin: auto;
}

form > div {
    width: 100%;
    padding: 10px;
}

p {
    color: red;
    font-weight: bold;
    margin: 0;
}

select {
    width: 300px;
    height: 40px;
}

input {
    width: 80%;
    height: 35px;
    line-height: 35px;
    font-size: 17px;
}

.gender {
    height: 25px;
    line-height: 25px;
    font-size: 17px;
}

input[type=radio], input[type=checkbox] {
    width: 25px;
    margin: 0;
    height: 25px;
    line-height: unset;
}

.signal {
    height: 25px;
}

.signal label {
    height: 100%;
}